*{
    margin: 0px;
    padding: 0%;
}




.logo{
    width: 100px;
    height: 100px;
    
    
}
body{
    background-color: #D5DBB3;
}

.navegador{
    display: flex;
    align-items: center; 
}
.inicio{
    color: #810000;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
   
  
}
.nosotros{
    color: #810000;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}
.servicios{
    color: #810000;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}
.productos{
    color: #810000;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}
.contacto{
    color: #810000;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}
/*nav{
    background-color:#FFF8D9;
    display: flex;
    justify-content: space-around !important
    ;
    
    
    
}
nav ul li{
    display: inline;
    list-style: none;
    font-size: 20px;
    margin-left: 100px;
    
  
 
}
*/
.contenidoentero{
    display: flex;
    justify-content: center;
   
}

.imagenprincipal{
   width: 100%;
    height: 400px;
    margin: 0px;
    padding: 0%;
}

.tituloprimario{
    color: black;
    font-size: 50px;
    text-align: center;
    line-height: 1.6;
    font-weight: bold;
    font-family:'Roboto Condensed', sans-serif; 
    margin: 8%;   
   
}


.vehiculos{
    font-family:fantasy;
    font-size: 50px;
    text-align: center;
    color: black;
    font-weight: bolder;
    margin: 10%;
    
}   
.camion{
    width: 200px;
    height: 200px;
    grid-area: camion;
}
.camioneta{
    width: 200px;
    height: 200px;
    grid-area: camioneta;
}
.agricola{
    width: 200px;
    height: 200px;
    grid-area: agricola;
}
.auto{
    width: 200px;
    height: 200px;
    grid-area: automovil;
}
.utilitario{
    width: 200px;
    height: 200px;
    grid-area: utilitario; 
   

}
.caja{
    display: grid;
    grid-template-columns: (2,10fr);
    grid-template-rows: (2,10fr);
    padding: 40px;
    grid-template-areas: "camion camioneta"
    "agricola automovil"
    "utilitario utilitario";
    gap: 80px;
    width:100% ; margin: 5%;

   
}
.nombres{
    font-family: 'Roboto Condensed', sans-serif; 
    margin-top: 5%;
    font-weight: bolder;
    color:#810000 ;
    font-size: 20px;

}




.fotoautopartes{
    width: 100%;
    height: 250px;
    margin-top: 8%;
    margin-bottom: 5%;
}
.foto-carousel{
    width: 100%;
    height: 200px;
}



.one{
    padding-left: 15px;
    font-size: 25px;
    color: black;
    text-align: center;
    line-height: 2.4;
    font-family: Roboto Condensed', sans-serif;

    
    
    
    
}
footer{
    padding: 0%;
    background-color: #F9F5F0;
    color: #810000;
    font-family: 'Poppins', sans-serif;
    text-align:center;
    margin-top: 30%;
    
    
}
.iconos{
    margin-left: 80%;
    padding-right: 20px;
    color: #810000;
    font-size: 15px;
    display: inline;
}
.whatsapp{
    width: 20px;
    height: 20px;

}
.facebook-2{
    width: 20px;
    height: 20px;
}
.instagram-2{
    width: 20px;
    height: 20px;
}


/* seccion nosotros */

.fotonosotros{
    width: 100%;
    height: 300px;
}
.carousel-nosotros{
    width: 100%;
    height: 400px;
}
.titulonosotros{
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 50px;
    text-align: center;
    margin: 5%;
}


.primero{
    text-align: center;
    color: black;
    font-family:'Roboto Condensed', sans-serif;
    font-size: 40px;
    line-height: 1.6;
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 5%;
    margin-right: 5%;

}
.estilo-parrafo{
    font-family:'Times New Roman', Times, serif
}
.segundo{
    color: black;
    line-height: 1.6;
    font-size: 20px;
    font-family:'Roboto Condensed', sans-serif;
    margin-bottom: 80px;
    margin-left: 4%;
    margin-right: 5%;
    font-weight: bold;
}
.uno{
    font-size: 25px;
    color: #F4991A;
}
.a{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-weight: bold;
    line-height: 2.4;
    margin-left: 4%;
    
}
.parentesis{
    font-family:unset;
    display: inline;
}
.imagen-uno{
    width: 500px;
    height: 500px;
    margin-left: 3%;
}
.imagen-dos{
    width: 500px;
    height: 500px;
    padding-left: 20%;
}
.imagen{
    display: inline;
}

/*Seccion Servicios */


.fotocamion{
    width: 100%;
    height: 300px;
}
.articulo-container{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 12px;
    font-size: 20px;
    color: black;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    font-weight: bold;

}
.servicios-adicionales{
    font-family: poppins;
    font-size: 25px;
    margin: 10%;
    font-weight: bolder;
    background-color: #810000;opacity: 70%;
    text-align: center;
}

.imagenes{
    display: flex;
    justify-content: center;
   
}

/*Seccion Productos*/
.fotoproductos{
    width: 100%;
    height: 300px;
}

.titulo-productos{
    font-family: poppins;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 8%;
}
.listaproductos{
    font-family: fantasy;
    font-size: 30px;
    color: black;
    text-align: center;
    
    
    
    
}
.dudas{
    font-family: poppins;
    font-size: 25px;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 10%;
}
.click-aqui{
    font-family: poppins;
    color: #810000;
    
}
.ultimo{
    margin-top: 10%;
    font-family: poppins;
    background-color: #810000;opacity: 70%;
    text-align: center;
    font-size: 30px;
    margin: 8%;
}

/*Seccion Contacto*/
.contactos{
    font-family: poppins;
    margin-top: 10%;
    color: black;
    text-align: center;
    margin-bottom: 10%;
    font-size: 30px;
}
.via{
    text-align: left;
    margin-bottom: 25px;
    font-size: 20px;
    margin: 20px;
}
.lista-contactos{
    color: black;
    font-family: poppins;
    text-align: left;
    font-size: 25px;
    list-style: none;
    border: solid 6px, #810000;
    
    
}
.numeros{
    text-align: center;
    margin:5%;
    font-weight: bolder;
    border: solid 4px #810000; margin: 8%;
}
.nos{
    font-family: poppins;
    font-size: 25px;
    margin: 8%;
    color: #810000;
}

.mapa{
    margin-left: 30%;
    
}

.horarios{
    font-family: poppins;
    font-size: 25px;
    margin: 10%;
    color: #321313;
    font-weight: bolder;
}


.instagram{
    width: 100px;
    height: 100px;
    object-fit: cover;
    
}
.facebook{
    width: 100px;
    height: 100px;
    object-fit: cover;
    
    
}
.eslogan{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    margin: 8%;
}
.logo-final{
    margin-left: 25%;
}