.servicios1{
    .articulo-servicios{
        .parrafo-servicios{
            font-family: nth($font-family,2);
            font-size: 30px;
            margin: 4%;
            @media screen and (max-width:750px){
                font-size: 20px;
            }
        }
    }
}
.adicional{
    .servicios-adicionales{
        font-family: nth($font-family,2);
        font-size: 30px;
        margin: 8%;
        font-weight: bolder;
        border: solid 5px nth($colores,1);
        @media screen and (max-width:750px){
            font-size: 20px;
        }
    }
}